html, body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    
}
#bg-btn{
    border-radius: 0px;
    border-color: #028a8a;
    color: #fff;
    font-weight:600;
    border-width: medium;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
}

#bg-btn:hover{
    color:#ffffff;
    background-color:#028a8a;
}

a{
    text-decoration: none;
    color: #028a8a;
    font-weight: bold;
}
.navbar{
    background-color:rgb(2, 138, 138)
}

/* .navbar-dark .navbar-nav .nav-link.active{
    background-color: red;
} */

.container-bg{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; 
}

#show_bg {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.575), rgba(0,0,0, 0.575)),
    url('images/bgimg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} 
#show_bg1 {
    background-image:
    linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0,0.8)),
    url('images/bgimg1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#show_bg2 {
    background-image:
    linear-gradient(rgba(0,0,0, 0.575), rgba(0,0,0, 0.575)),
    url('images/bgimg2.jfif');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#intro .carousel-caption{
    text-align: center;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.fixed-wrap{
    height: 50%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.726)),
    url('images/fixed.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

.hero-text{
    color: rgb(255, 255, 255);
    padding-top: 150px;
    
    font-weight: bold;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/