html, body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    
}

.container-bg{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; 
}

#show_bg {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.575), rgba(0,0,0, 0.575)),
    url('images/bgimg.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} 
#show_bg1 {
    background-image:
    linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0,0.8)),
    url('images/bgimg1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#show_bg2 {
    background-image:
    linear-gradient(rgba(0,0,0, 0.575), rgba(0,0,0, 0.575)),
    url('images/bgimg2.jfif');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#intro .carousel-caption{
    text-align: center;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

